In [15]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
data_amazon = pd.read_csv('../data/Amazon_Sales_Clean.csv')
data_international = pd.read_csv('../data/International_Sale_Report.csv')
data_sales = pd.read_csv('../data/Sales_Report.csv')

C:\Users\piotr\AppData\Local\Temp\ipykernel_29364\1520313042.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  data_amazon = pd.read_csv('../data/Amazon_Sales_Clean.csv')

In [6]:
data_amazon

,order_id,date,status,fulfilment,sales_channel_,ship_service_level,style,sku,category,size,...,currency,amount,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,b2b,fulfilled_by,unnamed_22
0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,406-6001380-7673107,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,XL,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,402-9551604-7544318,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,M,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,407-9547469-3152358,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,XXL,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,402-6184140-0545956,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,XS,...,INR,1199.00,HALOL,GUJARAT,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,408-7436540-8728312,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,S,...,INR,696.00,RAIPUR,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [11]:
data_amazon['date'] = pd.to_datetime(data_amazon['date'])

In [ ]:
data_amazon['sales_channel_'].unique()

array(['Amazon.in', 'Non-Amazon'], dtype=object)

In [14]:
data_amazon['fulfilment'].unique()

array(['Merchant', 'Amazon'], dtype=object)

In [12]:
data_amazon.describe()

,date,qty,amount,ship_postal_code
count,128975,128975.000000,121180.000000,128942.000000
mean,2022-05-12 11:49:27.951928576,0.904431,648.561465,463966.236509
min,2022-03-31 00:00:00,0.000000,0.000000,110001.000000
25%,2022-04-20 00:00:00,1.000000,449.000000,382421.000000
50%,2022-05-10 00:00:00,1.000000,605.000000,500033.000000
75%,2022-06-04 00:00:00,1.000000,788.000000,600024.000000
max,2022-06-29 00:00:00,15.000000,5584.000000,989898.000000
std,NaN,0.313354,281.211687,191476.764941

In [7]:
data_international.drop(columns=['Unnamed: 0'], axis = 0, inplace=True)

In [8]:
data_international

,index,date,months,customer,style,sku,size,pcs,rate,gross_amt
0,0,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-L,L,1.0,616.56,617.0
1,1,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XL,XL,1.0,616.56,617.0
2,2,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XXL,XXL,1.0,616.56,617.0
3,3,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5009,MEN5009-KR-L,L,1.0,616.56,617.0
4,4,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5011,MEN5011-KR-L,L,1.0,616.56,617.0
...,...,...,...,...,...,...,...,...,...,...
35878,37426,03-31-22,Mar-22,AVIN,SET276,SET276-KR-PP-L,L,1.0,1425.00,1425.0
35879,37427,03-31-22,Mar-22,AVIN,PJNE3423,PJNE3423-KR-4XL,4XL,1.0,537.50,538.0
35880,37428,03-31-22,Mar-22,AVIN,PJNE3404,PJNE3404-KR-4XL,4XL,1.0,500.00,500.0
35881,37429,03-31-22,Mar-22,AVIN,PJNE3423,PJNE3423-KR-4XL,4XL,1.0,537.50,538.0
35882,37430,03-31-22,Mar-22,AVIN,SET290,SET290-KR-DPT-M,M,1.0,812.50,812.0

In [9]:
data_international['months'].unique()

array(['Jun-21', 'Jul-21', 'Aug-21', 'Sep-21', 'Oct-21', 'Nov-21',
       'Dec-21', 'Jan-22', 'Feb-22', 'Mar-22', 'Apr-22', 'May-22'],
      dtype=object)

In [16]:
data_sales.drop(columns=["Unnamed: 0"], axis=0, inplace=True)

In [17]:
data_sales

      index           sku_code design_no_  stock       category  size color
0         0        AN201-RED-L      AN201    5.0  AN : LEGGINGS     L   Red
1         1        AN201-RED-M      AN201    5.0  AN : LEGGINGS     M   Red
2         2        AN201-RED-S      AN201    3.0  AN : LEGGINGS     S   Red
3         3       AN201-RED-XL      AN201    6.0  AN : LEGGINGS    XL   Red
4         4      AN201-RED-XXL      AN201    3.0  AN : LEGGINGS   XXL   Red
...     ...                ...        ...    ...            ...   ...   ...
9221   9230     SET462-KR-NP-S     SET462   44.0            SET     S  Teal
9222   9231    SET462-KR-NP-XL     SET462   58.0            SET    XL  Teal
9223   9232    SET462-KR-NP-XS     SET462   20.0            SET    XS  Teal
9224   9233   SET462-KR-NP-XXL     SET462   66.0            SET   XXL  Teal
9225   9234  SET462-KR-NP-XXXL     SET462   40.0            SET  XXXL  Teal

[9226 rows x 7 columns]