In [10]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from dotenv import dotenv_values

In [2]:
data_amazon = pd.read_csv('../data/Amazon_Sales_Clean.csv')
data_international = pd.read_csv('../data/International_Sale_Report.csv')
data_sales = pd.read_csv('../data/Sales_Report.csv')

C:\Users\piotr\AppData\Local\Temp\ipykernel_15180\1520313042.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  data_amazon = pd.read_csv('../data/Amazon_Sales_Clean.csv')

In [3]:
data_amazon

,order_id,date,status,fulfilment,sales_channel_,ship_service_level,style,sku,category,size,...,currency,amount,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,b2b,fulfilled_by,unnamed_22
0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,406-6001380-7673107,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,XL,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,402-9551604-7544318,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,M,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,407-9547469-3152358,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,XXL,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,402-6184140-0545956,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,XS,...,INR,1199.00,HALOL,GUJARAT,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,408-7436540-8728312,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,S,...,INR,696.00,RAIPUR,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [4]:
data_amazon['date'] = pd.to_datetime(data_amazon['date'])

In [5]:
data_amazon['sales_channel_'].unique()

array(['Amazon.in', 'Non-Amazon'], dtype=object)

In [6]:
data_amazon['fulfilment'].unique()

array(['Merchant', 'Amazon'], dtype=object)

In [7]:
data_amazon.describe()

,date,qty,amount,ship_postal_code
count,128975,128975.000000,121180.000000,128942.000000
mean,2022-05-12 11:49:27.951928576,0.904431,648.561465,463966.236509
min,2022-03-31 00:00:00,0.000000,0.000000,110001.000000
25%,2022-04-20 00:00:00,1.000000,449.000000,382421.000000
50%,2022-05-10 00:00:00,1.000000,605.000000,500033.000000
75%,2022-06-04 00:00:00,1.000000,788.000000,600024.000000
max,2022-06-29 00:00:00,15.000000,5584.000000,989898.000000
std,NaN,0.313354,281.211687,191476.764941

In [8]:
data_international.drop(columns=['Unnamed: 0'], axis = 0, inplace=True)

In [9]:
data_international

,index,date,months,customer,style,sku,size,pcs,rate,gross_amt
0,0,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-L,L,1.0,616.56,617.0
1,1,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XL,XL,1.0,616.56,617.0
2,2,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XXL,XXL,1.0,616.56,617.0
3,3,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5009,MEN5009-KR-L,L,1.0,616.56,617.0
4,4,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5011,MEN5011-KR-L,L,1.0,616.56,617.0
...,...,...,...,...,...,...,...,...,...,...
35878,37426,03-31-22,Mar-22,AVIN,SET276,SET276-KR-PP-L,L,1.0,1425.00,1425.0
35879,37427,03-31-22,Mar-22,AVIN,PJNE3423,PJNE3423-KR-4XL,4XL,1.0,537.50,538.0
35880,37428,03-31-22,Mar-22,AVIN,PJNE3404,PJNE3404-KR-4XL,4XL,1.0,500.00,500.0
35881,37429,03-31-22,Mar-22,AVIN,PJNE3423,PJNE3423-KR-4XL,4XL,1.0,537.50,538.0
35882,37430,03-31-22,Mar-22,AVIN,SET290,SET290-KR-DPT-M,M,1.0,812.50,812.0

In [10]:
data_international['months'].unique()

array(['Jun-21', 'Jul-21', 'Aug-21', 'Sep-21', 'Oct-21', 'Nov-21',
       'Dec-21', 'Jan-22', 'Feb-22', 'Mar-22', 'Apr-22', 'May-22'],
      dtype=object)

In [11]:
data_sales.drop(columns=["Unnamed: 0"], axis=0, inplace=True)

In [12]:
data_sales

      index           sku_code design_no_  stock       category  size color
0         0        AN201-RED-L      AN201    5.0  AN : LEGGINGS     L   Red
1         1        AN201-RED-M      AN201    5.0  AN : LEGGINGS     M   Red
2         2        AN201-RED-S      AN201    3.0  AN : LEGGINGS     S   Red
3         3       AN201-RED-XL      AN201    6.0  AN : LEGGINGS    XL   Red
4         4      AN201-RED-XXL      AN201    3.0  AN : LEGGINGS   XXL   Red
...     ...                ...        ...    ...            ...   ...   ...
9221   9230     SET462-KR-NP-S     SET462   44.0            SET     S  Teal
9222   9231    SET462-KR-NP-XL     SET462   58.0            SET    XL  Teal
9223   9232    SET462-KR-NP-XS     SET462   20.0            SET    XS  Teal
9224   9233   SET462-KR-NP-XXL     SET462   66.0            SET   XXL  Teal
9225   9234  SET462-KR-NP-XXXL     SET462   40.0            SET  XXXL  Teal

[9226 rows x 7 columns]

In [22]:
config = dotenv_values()

In [23]:
pg_user = config['POSTGRES_USER']
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

```python
url = '<dialect>://<user>:<password>@<host>:<port>/<database>?currentSchema={schema}'
```

In [24]:
url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}'
engine = create_engine(url, echo = False)

In [25]:
engine.url

postgresql://postgres:***@localhost:5432/postgres

In [ ]:
data_amazon.to_sql(
    name="Ecom_Data_Amazon",
    con=engine,           
    if_exists="replace",
    index=False
)

## Adding cost values to the data

In [38]:
ecommerce_A_data = pd.read_csv('../data/ecommerce_data.csv')

In [39]:
ecommerce_A_data

,date,status,fulfilment,sales_channel_,amount,qty,category,sku,size,style,ship_city,ship_state,ship_postal_code
0,2022-04-15 00:00:00.000,Shipped - Delivered to Buyer,Merchant,Amazon.in,442.0,1,kurta,JNE3510-KR-M,M,JNE3510,KORBA,CHHATTISGARH,495450.0
1,2022-04-15 00:00:00.000,Shipped,Amazon,Amazon.in,376.0,1,kurta,JNE3366-KR-1053-M,M,JNE3366,TIRUNELVELI,TAMIL NADU,627416.0
2,2022-04-15 00:00:00.000,Shipped,Amazon,Amazon.in,471.0,1,kurta,JNE3368-KR-M,M,JNE3368,TIRUNELVELI,TAMIL NADU,627416.0
3,2022-04-15 00:00:00.000,Shipped,Amazon,Amazon.in,523.0,1,Set,NW015-TP-PJ-S,S,NW015,AJMER,RAJASTHAN,305001.0
4,2022-04-15 00:00:00.000,Shipped,Amazon,Amazon.in,788.0,1,Set,SET268-KR-NP-XS,XS,SET268,NEW DELHI,DELHI,110019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
108066,2022-04-15 00:00:00.000,Shipped,Amazon,Amazon.in,612.0,1,Set,SET044-KR-NP-XS,XS,SET044,HYDERABAD,TELANGANA,500084.0
108067,2022-04-15 00:00:00.000,Shipped,Amazon,Amazon.in,488.0,1,Western Dress,J0171-DR-M,M,J0171,HYDERABAD,TELANGANA,500080.0
108068,2022-04-13 00:00:00.000,Shipped,Amazon,Amazon.in,399.0,1,kurta,JNE3405-KR-XS,XS,JNE3405,MUMBAI,MAHARASHTRA,400051.0
108069,2022-04-13 00:00:00.000,Shipped,Amazon,Amazon.in,725.0,1,Western Dress,JNE3797-KR-XL,XL,JNE3797,TIRUCHIRAPPALLI,TAMIL NADU,620001.0
108070,2022-04-13 00:00:00.000,Shipped,Amazon,Amazon.in,399.0,1,kurta,JNE3405-KR-XS,XS,JNE3405,JHALAWAR,RAJASTHAN,326512.0

In [40]:
style_avg_amount = ecommerce_A_data.groupby("style")["amount"].mean()

In [41]:
style_avg_amount

style
AN201      257.800000
AN202      271.428571
AN203      301.000000
AN204      320.571429
AN205      281.000000
             ...
SET445    1399.000000
SET446    1449.000000
SET449    1449.000000
SET461     859.000000
SET462     999.000000
Name: amount, Length: 1369, dtype: float64

In [42]:
style_to_cost = {}
for style, avg in style_avg_amount.items():
    if pd.isna(avg) or avg == 0 :  # pomijaj podejrzane przypadki
        continue
    random_cost = np.random.uniform(0.35 * avg, 0.7 * avg)
    style_to_cost[style] = round(random_cost, 2)

In [43]:
style_to_cost

{'AN201': 135.78,
 'AN202': 129.52,
 'AN203': 171.37,
 'AN204': 192.45,
 'AN205': 126.93,
 'AN206': 134.96,
 'AN207': 176.21,
 'AN208': 125.86,
 'AN209': 173.58,
 'AN211': 144.84,
 'AN212': 215.98,
 'AN213': 166.66,
 'BL001': 277.48,
 'BL003': 284.42,
 'BL004': 196.74,
 'BL006': 211.66,
 'BL007': 185.56,
 'BL008': 203.31,
 'BL009': 250.73,
 'BL010': 177.27,
 'BL011': 135.34,
 'BL013': 181.66,
 'BL015': 193.17,
 'BL016': 262.9,
 'BL017': 177.64,
 'BL019': 169.01,
 'BL020': 204.87,
 'BL021': 240.72,
 'BL022': 258.1,
 'BL023': 161.58,
 'BL024': 241.09,
 'BL025': 156.94,
 'BL026': 163.37,
 'BL029': 206.05,
 'BL035': 249.26,
 'BL036': 218.12,
 'BL041': 185.38,
 'BL050': 210.61,
 'BL053': 232.03,
 'BL055': 253.48,
 'BL056': 182.78,
 'BL057': 180.63,
 'BL060': 160.13,
 'BL073': 194.54,
 'BL074': 226.22,
 'BL075': 268.8,
 'BL079': 253.24,
 'BL085': 257.5,
 'BL086': 175.22,
 'BL087': 195.29,
 'BL089': 169.73,
 'BL090': 210.26,
 'BL093': 118.29,
 'BL095': 237.57,
 'BL096': 173.93,
 'BL098': 134.92,
 'BL099': 96.53,
 'BL100': 114.77,
 'BL101': 90.35,
 'BL102': 114.65,
 'BL103': 280.03,
 'BL104': 294.21,
 'BL107': 129.92,
 'BL109': 356.07,
 'BL110': 179.95,
 'BL111': 189.57,
 'BL113': 235.42,
 'BTM002': 266.21,
 'BTM003': 224.84,
 'BTM004': 192.83,
 'BTM005': 246.79,
 'BTM008': 283.43,
 'BTM021': 181.33,
 'BTM026': 241.49,
 'BTM027': 336.49,
 'BTM029': 276.46,
 'BTM030': 194.01,
 'BTM031': 267.93,
 'BTM032': 199.63,
 'BTM033': 118.42,
 'BTM035': 133.52,
 'BTM036': 232.0,
 'BTM037': 146.18,
 'BTM038': 261.96,
 'BTM039': 180.0,
 'BTM040': 153.52,
 'BTM041': 169.4,
 'BTM042': 133.79,
 'BTM043': 209.01,
 'BTM044': 214.28,
 'BTM045': 124.23,
 'BTM046': 247.84,
 'BTM047': 144.42,
 'BTM048': 148.85,
 'CH201': 112.28,
 'CH202': 157.17,
 'CH203': 122.63,
 'CH204': 103.1,
 'CH205': 122.66,
 'CH206': 108.4,
 'CH207': 174.29,
 'CH208': 134.34,
 'CH209': 183.48,
 'CH213': 154.06,
 'DPT032': 183.2,
 'DPT041': 167.58,
 'DPT052': 189.18,
 'J0001': 401.32,
 'J0002': 626.83,
 'J0003': 368.55,
 'J0004': 421.81,
 'J0005': 486.66,
 'J0006': 395.59,
 'J0007': 528.84,
 'J0008': 647.39,
 'J0009': 588.76,
 'J0010': 664.17,
 'J0011': 855.14,
 'J0012': 691.07,
 'J0013': 438.09,
 'J0014': 947.94,
 'J0015': 392.34,
 'J0016': 158.77,
 'J0019': 363.49,
 'J0020': 339.2,
 'J0021': 161.12,
 'J0022': 361.07,
 'J0023': 231.73,
 'J0024': 162.07,
 'J0025': 362.95,
 'J0026': 124.38,
 'J0027': 343.06,
 'J0028': 217.96,
 'J0029': 194.55,
 'J0033': 154.43,
 'J0034': 446.4,
 'J0036': 158.71,
 'J0037': 349.33,
 'J0038': 374.84,
 'J0039': 311.73,
 'J0040': 246.6,
 'J0041': 392.29,
 'J0042': 259.28,
 'J0043': 405.11,
 'J0044': 159.59,
 'J0047': 183.35,
 'J0048': 195.14,
 'J0049': 166.01,
 'J0051': 222.92,
 'J0052': 392.6,
 'J0053': 246.78,
 'J0055': 547.35,
 'J0057': 247.56,
 'J0058': 305.46,
 'J0062': 324.83,
 'J0070': 117.64,
 'J0072': 115.41,
 'J0073': 202.37,
 'J0074': 209.47,
 'J0075': 139.91,
 'J0076': 168.75,
 'J0077': 572.42,
 'J0078': 647.3,
 'J0079': 1039.9,
 'J0080': 379.63,
 'J0081': 328.5,
 'J0082': 223.38,
 'J0083': 348.14,
 'J0084': 384.89,
 'J0085': 206.7,
 'J0086': 359.87,
 'J0087': 123.29,
 'J0088': 233.05,
 'J0089': 190.61,
 'J0090': 237.45,
 'J0091': 112.56,
 'J0092': 331.41,
 'J0093': 358.83,
 'J0094': 372.62,
 'J0095': 277.58,
 'J0096': 343.86,
 'J0097': 252.27,
 'J0098': 237.28,
 'J0100': 709.27,
 'J0101': 527.0,
 'J0102': 511.26,
 'J0103': 891.68,
 'J0104': 298.42,
 'J0105': 546.18,
 'J0106': 595.16,
 'J0108': 761.59,
 'J0109': 732.21,
 'J0110': 467.88,
 'J0111': 202.77,
 'J0112': 205.2,
 'J0113': 359.7,
 'J0114': 188.38,
 'J0115': 178.97,
 'J0116': 204.62,
 'J0117': 406.05,
 'J0118': 190.79,
 'J0119': 292.73,
 'J0120': 190.38,
 'J0121': 120.89,
 'J0122': 129.61,
 'J0123': 106.34,
 'J0124': 291.01,
 'J0126': 313.85,
 'J0127': 666.7,
 'J0129': 374.73,
 'J0130': 277.1,
 'J0131': 196.19,
 'J0132': 190.22,
 'J0133': 252.85,
 'J0134': 464.75,
 'J0135': 238.2,
 'J0136': 213.56,
 'J0137': 266.54,
 'J0138': 177.56,
 'J0139': 209.72,
 'J0140': 318.97,
 'J0141': 261.65,
 'J0142': 272.48,
 'J0143': 289.06,
 'J0144': 257.16,
 'J0145': 346.69,
 'J0147': 347.84,
 'J0148': 396.47,
 'J0149': 158.36,
 'J0150': 210.68,
 'J0151': 312.21,
 'J0152': 346.28,
 'J0153': 241.83,
 'J0154': 163.53,
 'J0155': 318.32,
 'J0157': 251.43,
 'J0158': 496.04,
 'J0159': 245.47,
 'J0160': 124.07,
 'J0161': 284.37,
 'J0162': 516.08,
 'J0163': 548.77,
 'J0164': 142.96,
 'J0165': 198.95,
 'J0166': 259.59,
 'J0167': 160.68,
 'J0168': 253.85,
 'J0170': 161.59,
 'J0171': 271.39,
 'J0172': 285.09,
 'J0173': 289.16,
 'J0174': 177.98,
 'J0175': 187.92,
 'J0176': 187.49,
 'J0177': 165.9,
 'J0178': 179.97,
 'J0179': 465.05,
 'J0180': 255.21,
 'J0181': 268.67,
 'J0182': 247.61,
 'J0183': 217.64,
 'J0184': 228.86,
 'J0185': 372.99,
 'J0186': 487.16,
 'J0187': 325.88,
 'J0188': 243.43,
 'J0189': 117.39,
 'J0190': 206.15,
 'J0192': 157.93,
 'J0193': 263.54,
 'J0194': 255.55,
 'J0195': 294.73,
 'J0196': 179.37,
 'J0197': 279.01,
 'J0198': 431.35,
 'J0199': 280.77,
 'J0201': 234.28,
 'J0202': 275.34,
 'J0203': 268.79,
 'J0204': 379.98,
 'J0205': 143.88,
 'J0207': 624.47,
 'J0208': 441.97,
 'J0209': 530.13,
 'J0210': 433.34,
 'J0211': 268.43,
 'J0212': 562.38,
 'J0213': 248.85,
 'J0214': 240.94,
 'J0215': 288.83,
 'J0216': 263.01,
 'J0217': 373.54,
 'J0219': 314.27,
 'J0220': 252.84,
 'J0223': 556.13,
 'J0224': 565.93,
 'J0225': 733.84,
 'J0226': 963.71,
 'J0228': 940.09,
 'J0229': 823.87,
 'J0230': 483.56,
 'J0231': 648.84,
 'J0232': 510.77,
 'J0233': 748.32,
 'J0234': 628.03,
 'J0235': 687.4,
 'J0236': 523.01,
 'J0237': 871.92,
 'J0238': 1150.04,
 'J0239': 790.87,
 'J0240': 1121.79,
 'J0241': 653.93,
 'J0242': 742.47,
 'J0243': 423.14,
 'J0244': 458.06,
 'J0245': 445.13,
 'J0246': 561.56,
 'J0247': 541.84,
 'J0248': 445.95,
 'J0249': 498.5,
 'J0250': 468.3,
 'J0251': 453.52,
 'J0252': 491.1,
 'J0254': 336.32,
 'J0277': 519.13,
 'J0278': 378.17,
 'J0279': 582.58,
 'J0280': 743.0,
 'J0281': 935.62,
 'J0282': 639.96,
 'J0283': 455.25,
 'J0284': 788.23,
 'J0285': 817.63,
 'J0286': 620.34,
 'J0290': 338.79,
 'J0291': 447.22,
 'J0292': 203.09,
 'J0293': 238.67,
 'J0294': 194.58,
 'J0295': 382.74,
 'J0296': 183.14,
 'J0297': 305.65,
 'J0298': 196.05,
 'J0299': 175.57,
 'J0300': 167.69,
 'J0301': 361.01,
 'J0302': 226.57,
 'J0303': 186.11,
 'J0304': 205.48,
 'J0305': 330.79,
 'J0306': 395.4,
 'J0307': 356.57,
 'J0308': 365.62,
 'J0310': 163.57,
 'J0314': 338.08,
 'J0319': 496.34,
 'J0323': 256.92,
 'J0328': 497.22,
 'J0329': 533.53,
 'J0330': 214.93,
 'J0331': 342.98,
 'J0332': 311.53,
 'J0333': 325.92,
 'J0334': 320.14,
 'J0335': 394.61,
 'J0336': 389.72,
 'J0337': 358.33,
 'J0338': 467.34,
 'J0339': 538.8,
 'J0340': 334.79,
 'J0341': 498.6,
 'J0342': 373.97,
 'J0343': 580.39,
 'J0344': 315.92,
 'J0345': 325.55,
 'J0346': 296.52,
 'J0347': 357.7,
 'J0348': 301.17,
 'J0349': 400.19,
 'J0350': 253.44,
 'J0351': 372.34,
 'J0352': 237.29,
 'J0353': 290.67,
 'J0354': 264.36,
 'J0355': 289.71,
 'J0369': 704.6,
 'J0370': 371.47,
 'J0371': 484.03,
 'J0372': 484.86,
 'J0373': 366.81,
 'J0374': 236.4,
 'J0375': 419.29,
 'J0376': 647.76,
 'J0377': 546.34,
 'J0378': 633.9,
 'J0379': 817.63,
 'J0380': 785.3,
 'J0381': 721.06,
 'J0382': 647.22,
 'J0385': 521.9,
 'J0386': 379.03,
 'J0388': 430.22,
 'J0389': 473.35,
 'J0390': 370.04,
 'J0391': 429.11,
 'J0392': 355.1,
 'J0395': 352.44,
 'J0396': 380.0,
 'J0397': 563.2,
 'J0398': 580.59,
 'J0399': 457.15,
 'J0400': 420.32,
 'J0401': 568.32,
 'J0402': 306.76,
 'J0413': 470.97,
 'J0414': 499.14,
 'J0415': 439.03,
 'J0416': 338.15,
 'J0417': 483.34,
 'J0418': 506.22,
 'J0419': 306.63,
 'J0420': 361.48,
 'J0429': 524.45,
 'J0431': 377.46,
 'J0434': 460.98,
 'JNE0722': 475.36,
 'JNE0850': 364.61,
 'JNE09186': 368.95,
 'JNE09187': 331.29,
 'JNE09209': 444.69,
 'JNE09210': 505.66,
 'JNE1000': 433.76,
 'JNE1233': 183.95,
 'JNE1234': 206.91,
 'JNE1407': 138.06,
 'JNE1408': 178.47,
 'JNE1525': 197.81,
 'JNE1906': 238.86,
 'JNE1951': 145.9,
 'JNE1975': 102.14,
 'JNE1977': 121.67,
 'JNE1998': 204.82,
 'JNE2006': 250.19,
 'JNE2009': 209.06,
 'JNE2014': 138.66,
 'JNE2032': 124.52,
 'JNE2049': 191.25,
 'JNE2086': 320.98,
 'JNE2100': 248.06,
 'JNE2101': 139.74,
 'JNE2113': 285.35,
 'JNE2131': 270.21,
 'JNE2132': 295.15,
 'JNE2145': 223.11,
 'JNE2153': 175.18,
 'JNE2170': 225.85,
 'JNE2171': 336.26,
 'JNE2199': 231.98,
 'JNE2205': 238.86,
 'JNE2209': 322.07,
 'JNE2251': 200.06,
 'JNE2262': 161.22,
 'JNE2265': 160.74,
 'JNE2266': 248.08,
 'JNE2270': 201.55,
 'JNE2291': 169.79,
 'JNE2292': 147.77,
 'JNE2293': 162.17,
 'JNE2294': 337.45,
 'JNE2300': 378.04,
 'JNE2302': 210.45,
 'JNE2305': 200.95,
 'JNE2307': 124.72,
 'JNE2309': 372.83,
 'JNE2321': 400.57,
 'JNE2323': 405.83,
 'JNE2324': 308.63,
 'JNE3030': 432.84,
 'JNE3042': 120.78,
 'JNE3062': 172.47,
 'JNE3065': 268.36,
 'JNE3068': 374.0,
 'JNE3144': 264.28,
 'JNE3157': 341.49,
 'JNE3160': 304.71,
 'JNE3220': 327.85,
 'JNE3225': 130.53,
 'JNE3234': 257.95,
 'JNE3251': 196.55,
 'JNE3252': 299.57,
 'JNE3253': 177.81,
 'JNE3255': 295.11,
 'JNE3256': 224.54,
 'JNE3257': 231.56,
 'JNE3261': 234.59,
 'JNE3265': 208.58,
 'JNE3270': 149.1,
 'JNE3273': 270.4,
 'JNE3276': 115.85,
 'JNE3279': 168.54,
 'JNE3281': 170.5,
 'JNE3284': 172.01,
 'JNE3288': 266.32,
 'JNE3291': 171.47,
 'JNE3294': 297.27,
 'JNE3296': 213.89,
 'JNE3311': 396.66,
 'JNE3313': 365.01,
 'JNE3323': 100.01,
 'JNE3334': 142.6,
 'JNE3336': 131.83,
 'JNE3338': 153.53,
 'JNE3339': 115.17,
 'JNE3342': 296.33,
 'JNE3344': 147.45,
 'JNE3346': 146.03,
 'JNE3348': 297.95,
 'JNE3351': 125.87,
 'JNE3355': 216.84,
 'JNE3359': 180.76,
 'JNE3360': 199.96,
 'JNE3362': 155.73,
 'JNE3363': 230.36,
 'JNE3364': 245.01,
 'JNE3365': 212.52,
 'JNE3366': 214.06,
 'JNE3368': 318.65,
 'JNE3369': 263.92,
 'JNE3370': 109.29,
 'JNE3371': 182.0,
 'JNE3373': 254.75,
 'JNE3375': 132.1,
 'JNE3376': 249.15,
 'JNE3383': 192.65,
 'JNE3384': 119.48,
 'JNE3386': 115.35,
 'JNE3387': 293.58,
 'JNE3388': 146.84,
 'JNE3389': 231.42,
 'JNE3390': 159.45,
 'JNE3391': 274.54,
 'JNE3394': 151.35,
 'JNE3395': 206.9,
 'JNE3396': 241.91,
 'JNE3398': 172.24,
 'JNE3399': 209.48,
 'JNE3400': 262.31,
 'JNE3401': 165.24,
 'JNE3402': 290.69,
 'JNE3403': 156.25,
 'JNE3404': 340.69,
 'JNE3405': 192.45,
 'JNE3407': 144.33,
 'JNE3408': 274.28,
 'JNE3409': 125.92,
 'JNE3412': 224.54,
 'JNE3413': 261.62,
 'JNE3415': 184.44,
 'JNE3416': 182.73,
 'JNE3417': 208.02,
 'JNE3420': 132.73,
 'JNE3421': 246.7,
 'JNE3422': 167.54,
 'JNE3423': 217.19,
 'JNE3424': 127.78,
 'JNE3425': 138.13,
 'JNE3426': 197.99,
 'JNE3427': 144.73,
 'JNE3428': 174.66,
 'JNE3429': 159.2,
 'JNE3430': 217.84,
 'JNE3431': 119.74,
 'JNE3432': 222.75,
 'JNE3434': 161.15,
 'JNE3435': 329.8,
 'JNE3436': 198.4,
 'JNE3437': 199.12,
 'JNE3438': 294.24,
 'JNE3439': 261.46,
 'JNE3440': 280.28,
 'JNE3441': 306.39,
 'JNE3442': 212.58,
 'JNE3443': 192.51,
 'JNE3445': 297.5,
 'JNE3446': 167.81,
 'JNE3447': 203.95,
 'JNE3449': 195.75,
 'JNE3450': 234.81,
 'JNE3451': 202.12,
 'JNE3452': 153.8,
 'JNE3453': 194.14,
 'JNE3454': 296.62,
 'JNE3455': 230.11,
 'JNE3456': 124.85,
 'JNE3457': 245.89,
 'JNE3458': 242.05,
 'JNE3459': 173.03,
 'JNE3460': 235.66,
 'JNE3461': 267.38,
 'JNE3463': 221.28,
 'JNE3464': 335.32,
 'JNE3465': 216.95,
 'JNE3466': 363.14,
 'JNE3467': 205.73,
 'JNE3468': 261.49,
 'JNE3470': 110.91,
 'JNE3471': 207.68,
 'JNE3472': 162.97,
 'JNE3473': 226.28,
 'JNE3474': 287.68,
 'JNE3475': 167.63,
 'JNE3476': 141.82,
 'JNE3477': 173.62,
 'JNE3479': 187.92,
 'JNE3480': 117.76,
 'JNE3481': 147.86,
 'JNE3482': 206.85,
 'JNE3483': 260.8,
 'JNE3484': 146.27,
 'JNE3485': 247.54,
 'JNE3486': 174.11,
 'JNE3487': 168.15,
 'JNE3488': 191.11,
 'JNE3489': 245.55,
 'JNE3491': 167.13,
 'JNE3500': 214.08,
 'JNE3501': 152.54,
 'JNE3503': 209.74,
 'JNE3504': 165.09,
 'JNE3506': 434.02,
 'JNE3507': 111.26,
 'JNE3510': 316.8,
 'JNE3515': 206.29,
 'JNE3516': 193.65,
 'JNE3517': 275.95,
 'JNE3518': 286.89,
 'JNE3520': 292.83,
 'JNE3522': 147.73,
 'JNE3523': 147.55,
 'JNE3524': 238.57,
 'JNE3526': 183.89,
 'JNE3528': 194.55,
 'JNE3530': 202.98,
 'JNE3531': 191.21,
 'JNE3532': 229.49,
 'JNE3534': 137.66,
 'JNE3535': 305.77,
 'JNE3537': 171.64,
 'JNE3538': 126.91,
 'JNE3539': 183.53,
 'JNE3541': 166.52,
 'JNE3542': 219.35,
 'JNE3543': 210.08,
 'JNE3544': 170.11,
 'JNE3545': 171.04,
 'JNE3546': 233.46,
 'JNE3547': 346.4,
 'JNE3548': 332.42,
 'JNE3549': 118.43,
 'JNE3550': 169.15,
 'JNE3553': 183.62,
 'JNE3554': 284.57,
 'JNE3555': 203.38,
 'JNE3556': 204.07,
 'JNE3557': 211.22,
 'JNE3558': 182.75,
 'JNE3559': 250.26,
 'JNE3560': 305.66,
 'JNE3561': 279.86,
 'JNE3562': 167.13,
 'JNE3563': 284.01,
 'JNE3564': 240.95,
 'JNE3565': 139.93,
 'JNE3566': 193.18,
 'JNE3567': 193.89,
 'JNE3568': 249.7,
 'JNE3570': 201.44,
 'JNE3571': 220.25,
 'JNE3573': 234.39,
 'JNE3574': 157.32,
 'JNE3575': 175.77,
 'JNE3576': 267.24,
 'JNE3577': 463.15,
 'JNE3578': 243.5,
 'JNE3579': 127.04,
 'JNE3581': 254.68,
 'JNE3601': 130.61,
 'JNE3602': 165.61,
 'JNE3603': 201.29,
 'JNE3605': 347.2,
 'JNE3606': 195.89,
 'JNE3607': 228.09,
 'JNE3608': 182.86,
 'JNE3609': 292.04,
 'JNE3610': 171.04,
 'JNE3611': 250.91,
 'JNE3612': 232.24,
 'JNE3613': 239.14,
 'JNE3614': 296.04,
 'JNE3615': 113.08,
 'JNE3616': 188.51,
 'JNE3617': 203.03,
 'JNE3618': 235.27,
 'JNE3619': 191.65,
 'JNE3620': 152.38,
 'JNE3621': 257.05,
 'JNE3622': 222.96,
 'JNE3623': 174.48,
 'JNE3624': 236.59,
 'JNE3625': 183.48,
 'JNE3627': 148.35,
 'JNE3628': 314.83,
 'JNE3629': 208.37,
 'JNE3630': 212.11,
 'JNE3631': 269.59,
 'JNE3633': 258.97,
 'JNE3634': 334.04,
 'JNE3635': 122.08,
 'JNE3636': 192.22,
 'JNE3637': 291.15,
 'JNE3638': 253.83,
 'JNE3639': 327.55,
 'JNE3640': 284.67,
 'JNE3641': 249.14,
 'JNE3642': 159.17,
 'JNE3643': 152.41,
 'JNE3644': 113.02,
 'JNE3645': 200.46,
 'JNE3647': 150.11,
 'JNE3648': 239.54,
 'JNE3649': 197.24,
 'JNE3651': 349.69,
 'JNE3652': 188.82,
 'JNE3653': 129.68,
 'JNE3654': 189.66,
 'JNE3655': 143.33,
 'JNE3656': 381.55,
 'JNE3657': 211.8,
 'JNE3658': 178.9,
 'JNE3659': 230.48,
 'JNE3660': 169.53,
 'JNE3661': 180.63,
 'JNE3662': 172.09,
 'JNE3663': 142.26,
 'JNE3665': 230.95,
 'JNE3666': 188.52,
 'JNE3667': 131.96,
 'JNE3668': 359.74,
 'JNE3669': 316.72,
 'JNE3670': 162.94,
 'JNE3671': 386.67,
 'JNE3672': 298.05,
 'JNE3673': 448.13,
 'JNE3674': 211.24,
 'JNE3675': 197.77,
 'JNE3676': 210.56,
 'JNE3678': 304.04,
 'JNE3679': 274.49,
 'JNE3680': 263.12,
 'JNE3683': 169.79,
 'JNE3684': 147.8,
 'JNE3686': 281.32,
 'JNE3687': 360.49,
 'JNE3688': 416.73,
 'JNE3689': 290.45,
 'JNE3690': 236.64,
 'JNE3691': 323.69,
 'JNE3693': 168.74,
 'JNE3694': 165.17,
 'JNE3695': 168.62,
 'JNE3697': 221.11,
 'JNE3698': 188.15,
 'JNE3700': 203.92,
 'JNE3701': 180.75,
 'JNE3702': 161.82,
 'JNE3703': 185.62,
 'JNE3704': 209.32,
 'JNE3706': 194.5,
 'JNE3707': 182.98,
 'JNE3708': 355.25,
 'JNE3709': 435.59,
 'JNE3710': 253.87,
 'JNE3712': 200.62,
 'JNE3713': 193.26,
 'JNE3714': 244.42,
 'JNE3715': 165.64,
 'JNE3716': 162.34,
 'JNE3717': 157.15,
 'JNE3718': 299.71,
 'JNE3719': 180.14,
 'JNE3720': 347.39,
 'JNE3721': 134.1,
 'JNE3722': 164.12,
 'JNE3724': 245.41,
 'JNE3725': 173.43,
 'JNE3726': 202.42,
 'JNE3727': 349.62,
 'JNE3728': 166.69,
 'JNE3729': 219.78,
 'JNE3730': 173.2,
 'JNE3732': 219.45,
 'JNE3733': 236.14,
 'JNE3734': 298.76,
 'JNE3735': 178.05,
 'JNE3736': 196.4,
 'JNE3738': 223.07,
 'JNE3739': 192.57,
 'JNE3740': 114.66,
 'JNE3741': 259.82,
 'JNE3742': 277.39,
 'JNE3743': 234.33,
 'JNE3744': 284.18,
 'JNE3745': 122.29,
 'JNE3748': 242.8,
 'JNE3749': 179.47,
 'JNE3750': 289.89,
 'JNE3751': 208.01,
 'JNE3752': 195.1,
 'JNE3753': 303.49,
 'JNE3756': 322.58,
 'JNE3757': 266.98,
 'JNE3758': 172.93,
 'JNE3759': 315.34,
 'JNE3760': 171.35,
 'JNE3761': 146.67,
 'JNE3762': 172.37,
 'JNE3763': 286.38,
 'JNE3764': 194.37,
 'JNE3765': 287.9,
 'JNE3766': 250.11,
 'JNE3767': 317.11,
 'JNE3768': 174.38,
 'JNE3769': 333.54,
 'JNE3770': 306.14,
 'JNE3771': 222.7,
 'JNE3773': 173.81,
 'JNE3774': 303.42,
 'JNE3775': 106.79,
 'JNE3776': 140.93,
 'JNE3777': 121.17,
 'JNE3778': 173.63,
 'JNE3779': 153.53,
 'JNE3780': 133.13,
 'JNE3781': 161.12,
 'JNE3782': 230.73,
 'JNE3783': 228.35,
 'JNE3784': 213.75,
 'JNE3785': 201.62,
 'JNE3786': 210.9,
 'JNE3787': 219.19,
 'JNE3788': 278.97,
 'JNE3789': 153.02,
 'JNE3790': 158.77,
 'JNE3791': 215.01,
 'JNE3792': 222.84,
 'JNE3793': 237.4,
 'JNE3794': 181.52,
 'JNE3795': 326.5,
 'JNE3796': 148.03,
 'JNE3797': 451.89,
 'JNE3798': 274.47,
 'JNE3799': 437.31,
 'JNE3800': 522.51,
 'JNE3801': 476.79,
 'JNE3802': 280.99,
 'JNE3803': 188.58,
 'JNE3804': 222.03,
 'JNE3805': 216.97,
 'JNE3806': 232.41,
 'JNE3807': 266.21,
 'JNE3810': 374.77,
 'JNE3811': 217.76,
 'JNE3813': 395.84,
 'JNE3816': 351.98,
 'JNE3817': 295.22,
 'JNE3818': 276.9,
 'JNE3819': 283.33,
 'JNE3820': 294.27,
 'JNE3821': 232.51,
 'JNE3822': 177.52,
 'JNE3823': 350.05,
 'JNE3825': 310.34,
 'JNE3833': 259.65,
 'JNE3834': 222.68,
 'JNE3835': 366.83,
 'JNE3836': 370.17,
 'JNE3837': 271.24,
 'JNE3838': 152.77,
 'JNE3856': 269.54,
 'JNE3860': 430.95,
 'JNE3861': 347.48,
 'JNE3862': 282.19,
 'JNE3863': 261.31,
 'JNE3864': 260.19,
 'JNE3865': 268.12,
 'JNE3866': 537.98,
 'JNE3869': 446.99,
 'JNE3870': 281.67,
 'JNE3871': 367.27,
 'JNE3872': 545.16,
 'JNE3875': 397.09,
 'JNE3878': 194.27,
 'JNE3879': 480.92,
 'JNE3880': 354.13,
 'JNE3881': 373.73,
 'JNE3885': 200.18,
 'JNE3886': 357.22,
 'JNE3887': 212.88,
 'JNE3888': 255.45,
 'JNE3889': 336.58,
 'JNE3890': 334.97,
 'JNE3891': 391.44,
 'JNE3892': 404.08,
 'JNE3893': 390.85,
 'JNE3894': 314.08,
 'JNE3895': 314.55,
 'JNE3896': 363.4,
 'JNE3897': 277.84,
 'JNE3898': 223.48,
 'JNE3899': 265.71,
 'JNE3900': 257.56,
 'JNE3902': 278.81,
 'JNE3903': 214.13,
 'JNE3904': 387.37,
 'JNE3905': 416.0,
 'JNE3906': 384.27,
 'JNE3907': 312.11,
 'JNE3908': 446.63,
 'JNE3909': 296.05,
 'JNE3910': 483.66,
 'JNE3924': 285.93,
 'JNE3927': 563.01,
 'JNE3928': 388.15,
 'MEN5001': 244.77,
 'MEN5002': 307.64,
 'MEN5003': 346.81,
 'MEN5004': 353.19,
 'MEN5005': 261.7,
 'MEN5006': 228.22,
 'MEN5007': 277.35,
 'MEN5008': 333.05,
 'MEN5009': 354.08,
 'MEN5010': 213.45,
 'MEN5011': 221.82,
 'MEN5012': 287.63,
 'MEN5013': 425.57,
 'MEN5014': 340.96,
 'MEN5015': 318.72,
 'MEN5016': 310.36,
 'MEN5017': 349.22,
 'MEN5018': 326.45,
 'MEN5019': 245.04,
 'MEN5020': 277.51,
 'MEN5021': 266.6,
 'MEN5022': 291.46,
 'MEN5023': 314.29,
 'MEN5024': 320.34,
 'MEN5025': 408.69,
 'MEN5026': 270.26,
 'MEN5027': 360.18,
 'MEN5028': 261.43,
 'MEN5029': 322.85,
 'MEN5030': 203.24,
 'MEN5031': 379.03,
 'MEN5032': 367.85,
 'NW001': 385.35,
 'NW002': 246.73,
 'NW003': 199.34,
 'NW004': 226.23,
 'NW005': 208.96,
 'NW006': 258.4,
 'NW007': 267.45,
 'NW008': 339.2,
 'NW009': 366.08,
 'NW012': 219.58,
 'NW013': 330.52,
 'NW014': 361.96,
 'NW015': 352.24,
 'NW016': 292.76,
 'NW020': 252.38,
 'NW022': 252.82,
 'NW023': 248.47,
 'NW024': 390.59,
 'NW027': 259.53,
 'NW028': 230.24,
 'NW029': 204.45,
 'NW030': 389.53,
 'NW031': 236.21,
 'NW032': 232.38,
 'NW033': 210.61,
 'NW034': 361.55,
 'NW035': 206.9,
 'NW036': 238.67,
 'NW037': 309.69,
 'NW038': 282.54,
 'NW039': 175.03,
 'PJ0096': 413.63,
 'PJNE1906': 442.45,
 'PJNE2014': 291.15,
 'PJNE2100': 360.92,
 ...}

In [44]:
ecommerce_A_data['cost_per_unit'] = ecommerce_A_data['style'].map(style_to_cost)

In [45]:
ecommerce_A_data

,date,status,fulfilment,sales_channel_,amount,qty,category,sku,size,style,ship_city,ship_state,ship_postal_code,cost_per_unit
0,2022-04-15 00:00:00.000,Shipped - Delivered to Buyer,Merchant,Amazon.in,442.0,1,kurta,JNE3510-KR-M,M,JNE3510,KORBA,CHHATTISGARH,495450.0,316.80
1,2022-04-15 00:00:00.000,Shipped,Amazon,Amazon.in,376.0,1,kurta,JNE3366-KR-1053-M,M,JNE3366,TIRUNELVELI,TAMIL NADU,627416.0,214.06
2,2022-04-15 00:00:00.000,Shipped,Amazon,Amazon.in,471.0,1,kurta,JNE3368-KR-M,M,JNE3368,TIRUNELVELI,TAMIL NADU,627416.0,318.65
3,2022-04-15 00:00:00.000,Shipped,Amazon,Amazon.in,523.0,1,Set,NW015-TP-PJ-S,S,NW015,AJMER,RAJASTHAN,305001.0,352.24
4,2022-04-15 00:00:00.000,Shipped,Amazon,Amazon.in,788.0,1,Set,SET268-KR-NP-XS,XS,SET268,NEW DELHI,DELHI,110019.0,366.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108066,2022-04-15 00:00:00.000,Shipped,Amazon,Amazon.in,612.0,1,Set,SET044-KR-NP-XS,XS,SET044,HYDERABAD,TELANGANA,500084.0,386.05
108067,2022-04-15 00:00:00.000,Shipped,Amazon,Amazon.in,488.0,1,Western Dress,J0171-DR-M,M,J0171,HYDERABAD,TELANGANA,500080.0,271.39
108068,2022-04-13 00:00:00.000,Shipped,Amazon,Amazon.in,399.0,1,kurta,JNE3405-KR-XS,XS,JNE3405,MUMBAI,MAHARASHTRA,400051.0,192.45
108069,2022-04-13 00:00:00.000,Shipped,Amazon,Amazon.in,725.0,1,Western Dress,JNE3797-KR-XL,XL,JNE3797,TIRUCHIRAPPALLI,TAMIL NADU,620001.0,451.89
108070,2022-04-13 00:00:00.000,Shipped,Amazon,Amazon.in,399.0,1,kurta,JNE3405-KR-XS,XS,JNE3405,JHALAWAR,RAJASTHAN,326512.0,192.45

In [46]:
ecommerce_A_data.to_sql(
    name = 'ecommerce_data',
    if_exists="replace",
    schema=pg_schema,
    con=engine
)

71